*.zip
*.DS_Store
*.idea
*__pycache__

#Alpha_Implementation Files

#Beta_Implementation Files
Beta_Implementation/result/*
Beta_Implementation/extract/*
Beta_Implementation/output/*

#Full_Implementation Files
Full_Implementation/result/*
Full_Implementation/extract/*
Full_Implementation/output/*

#Full_Implementation_v2 Files
Full_Implementation_v2/result/*
Full_Implementation_v2/Dataset/*

#WebDevelopment Files

