header {
    min-height: 4em;
    background-color: #242424;
    margin-bottom: 0;
    border-bottom: none;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}

body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
    background-color: #febd32;
    font-family: 'arial';
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav a:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover {
    color: #f2f2f2;
}

nav a:hover::before {
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 17px;

    position: relative;
}

.uploadbtn {
    float: right;
    transform: translateY(-100%);
}
.titletext{
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.logo {
    padding-left: 10px;
    height: 50px;
    width: auto;
    float: left;
}

.row {
    padding: 100px;
    background-image: url(../img/uploads/test.jpeg);
    background-position-y: center;
    background-size: cover;
}

.col {
    margin: auto;
    width: 30%;
    background-color: white;
    border: 1px solid black;
    padding: 10px
}
.row h1 {
    text-align: center;
}

.form-group label {
margin-left: 40%;
}